VITE_API_BASE_URL=
VITE_FORCE_CROSS_ORIGIN_API_BASE=false
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_GMAIL_SCOPES=openid email profile https://www.googleapis.com/auth/gmail.readonly
VITE_GEMINI_API_KEY=
VITE_MICROSOFT_CLIENT_ID=
VITE_OUTLOOK_CLIENT_ID=
VITE_OUTLOOK_TENANT_ID=common
VITE_OUTLOOK_SCOPES=offline_access Calendars.Read Mail.Read User.Read
VITE_QUICKBOOKS_CLIENT_ID=
VITE_QUICKBOOKS_SCOPES=com.intuit.quickbooks.accounting
VITE_XERO_CLIENT_ID=
VITE_XERO_SCOPES=openid profile email accounting.transactions accounting.settings offline_access
VITE_ZOOM_CLIENT_ID=
